@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Passion+One:wght@700&family=Sriracha&display=swap");

* {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  min-height: calc(100vh-20px);
  font-family: "Sriracha", cursive;
  font-size: auto;
}

a {
  color: white;
  text-decoration: none;
  font-weight: bold;

  &:hover {
    text-decoration: underline;
  }
}
